 /* Set background color for the entire page */
body {
    background-color: #f0f0f0;
    margin: 0px;
    padding: 0px;
}
/* Style the first row in the left column */
#left-column .row:first-child {
    background-color: #3498db;
    color: white;
    padding: 10px;
}


/* Style the second row in the left column */
#left-column .row:last-child {
    background-color: #e74c3c;
    color: white;
    padding: 10px;
}

/* Style the right column */
#right-column {
    background-color: #ffffff;
    color: rgb(26, 26, 26);
    padding: 20px;
    overflow-y: auto;
}

/* Style the navbar */
#custom-navbar {
    background-color: gold !important;
}
